/****************************
colors
****************************/
/****************************
fonts
****************************/
/****************************
z-index
****************************/
#about-page {
  background-color: #db7f24;
  font-size: 22px;
}
#about-page header {
  background: url("../img/about_small.jpg") no-repeat center;
  background-size: cover;
}
@media (min-width: 800px) {
  #about-page header {
    background: url("../img/about_large.jpg") no-repeat center;
    background-size: cover;
  }
}
#about-page .page-wrapper {
  background: linear-gradient(to bottom, rgba(219, 127, 36, 0) 0%, #db7f24 44%);
  background: -webkit-linear-gradient(top, rgba(219, 127, 36, 0) 0%, #db7f24 44%);
}
#about-page .page-content {
  background-color: #db7f24;
}
#about-page .about-tile {
  color: #ffffff;
}
#about-page .about-me {
  color: #ffffff;
}
#about-page .about-me table.who-I-am.desktop {
  display: none;
}
#about-page .about-me table.who-I-am {
  padding: 18px 0 42px;
  margin: 60px auto 18px;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}
#about-page .about-me table.who-I-am .about-title {
  text-align: center;
  padding-bottom: 20px;
}
#about-page .about-me table.who-I-am td {
  padding: 10px 0px;
  position: relative;
}
#about-page .about-me table.who-I-am .light-bulb {
  display: block;
  width: 100%;
  position: relative;
  top: -5px;
  padding-left: 81px;
}
#about-page .about-me table.who-I-am .light-bulb.light-on:before {
  width: 62px;
  height: 50px;
  content: '';
  background: url('../img/icons.png') no-repeat -23px -274px;
  position: absolute;
  left: 0;
}
#about-page .about-me table.who-I-am .light-bulb.light-off:before {
  width: 62px;
  height: 50px;
  content: '';
  background: url('../img/icons.png') no-repeat -110px -274px;
  position: absolute;
  left: 0;
}
#about-page .weapons-section.desktop {
  display: none;
}
#about-page .weapons-section.mobile {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  border-bottom: 3px solid #ffffff;
  width: 100%;
}
#about-page .weapons-section.mobile table {
  margin: 15px auto 60px;
}
#about-page .weapons-section.mobile table td {
  width: 105px;
  vertical-align: text-top;
}
#about-page .weapons-section.mobile .weapons-icon {
  width: 105px;
  height: 105px;
  display: block;
  position: relative;
  margin: 20px auto 0;
}
#about-page .weapons-section.mobile .weapons-name {
  padding-bottom: 30px;
}
#about-page .weapons-section.mobile .weapons-icon.html {
  content: '';
  background: url("../img/icons.png") no-repeat -6px -248px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.css {
  content: '';
  background: url("../img/icons.png") no-repeat -138px -248px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.javascript {
  content: '';
  background: url("../img/icons.png") no-repeat -268px -248px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.jquery {
  content: '';
  background: url("../img/icons.png") no-repeat -398px -248px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.less {
  content: '';
  background: url("../img/icons.png") no-repeat -528px -248px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.webstorm {
  content: '';
  background: url("../img/icons.png") no-repeat -6px -385px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.photoshop {
  content: '';
  background: url("../img/icons.png") no-repeat -138px -385px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.axure {
  content: '';
  background: url("../img/icons.png") no-repeat -268px -385px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.chrome {
  content: '';
  background: url("../img/icons.png") no-repeat -398px -385px;
  background-size: 650px;
}
#about-page .weapons-section.mobile .weapons-icon.imagination {
  content: '';
  background: url("../img/icons.png") no-repeat -528px -385px;
  background-size: 650px;
}
#about-page .time-section {
  padding: 18px 0 30px;
  border-bottom: 3px solid #ffffff;
  position: relative;
}
#about-page .time-section .section-title {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}
#about-page .time-section img {
  width: 100%;
  max-width: 486px;
}
#about-page .time-section table {
  margin-top: 19px;
}
#about-page .time-section table td {
  vertical-align: middle;
}
#about-page .time-section .red {
  background-color: #db3a24;
}
#about-page .time-section .blue {
  background-color: #1a7287;
}
#about-page .time-section .green {
  background-color: #1ba33f;
}
#about-page .time-section .yellow {
  background-color: #daaf20;
}
#about-page .time-section .grey {
  background-color: #c0c0c0;
}
#about-page .chart-color {
  width: 40px;
  height: 40px;
  display: block;
  margin: 6px 12px 6px 0;
}
#about-page .working {
  position: relative;
  padding: 18px 0 120px;
}
#about-page .working .section-title {
  display: block;
  text-align: center;
  margin-bottom: 62px;
}
#about-page .working .large-light {
  display: none;
  width: 324px;
  height: 268px;
  position: absolute;
  right: 0;
  top: 190px;
}
#about-page .working .large-light:after {
  content: '';
  display: block;
  width: 324px;
  height: 268px;
  background: url("../img/icons.png") no-repeat -634px -35px;
  position: absolute;
}
#about-page .working p {
  width: 100%;
  display: block;
}
@media (min-width: 800px) {
  #about-page {
    background-color: #db7f24;
    font-size: 22px;
  }
  #about-page .about-me {
    color: #ffffff;
  }
  #about-page .about-me table.who-I-am.mobile {
    display: none;
  }
  #about-page .about-me table.who-I-am.desktop {
    display: table;
  }
  #about-page .about-me table.who-I-am.desktop td {
    padding: 10px 27px;
    position: relative;
  }
  #about-page .about-me table.who-I-am.desktop .light-bulb {
    display: block;
    width: 62px;
    height: 50px;
    position: relative;
    float: left;
    margin-right: 20px;
    top: -5px;
  }
  #about-page .about-me table.who-I-am.desktop .light-bulb.light-on:before {
    width: 62px;
    height: 50px;
    content: '';
    background: url('../img/icons.png') no-repeat -23px -274px;
    position: absolute;
    left: 23px;
  }
  #about-page .about-me table.who-I-am.desktop .light-bulb.light-off:before {
    width: 62px;
    height: 50px;
    content: '';
    background: url('../img/icons.png') no-repeat -110px -274px;
    position: absolute;
    left: 32px;
  }
  #about-page .about-me .weapons-section.mobile {
    display: none;
  }
  #about-page .about-me .weapons-section.desktop {
    display: table;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    border-bottom: 3px solid #ffffff;
  }
  #about-page .about-me .weapons-section.desktop table {
    margin: 15px auto 60px;
  }
  #about-page .about-me .weapons-section.desktop table td {
    width: 166px;
    vertical-align: text-top;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon {
    width: 166px;
    height: 166px;
    display: block;
    position: relative;
    margin: 30px 20px 10px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon:after {
    width: 166px;
    height: 166px;
    display: block;
    position: absolute;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.html:after {
    content: '';
    background: url("../img/icons.png") no-repeat -11px -396px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.css:after {
    content: '';
    background: url("../img/icons.png") no-repeat -220px -396px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.javascript:after {
    content: '';
    background: url("../img/icons.png") no-repeat -429px -396px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.jquery:after {
    content: '';
    background: url("../img/icons.png") no-repeat -637px -396px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.less:after {
    content: '';
    background: url("../img/icons.png") no-repeat -847px -396px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.webstorm:after {
    content: '';
    background: url("../img/icons.png") no-repeat -11px -615px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.photoshop:after {
    content: '';
    background: url("../img/icons.png") no-repeat -220px -615px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.axure:after {
    content: '';
    background: url("../img/icons.png") no-repeat -429px -615px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.chrome:after {
    content: '';
    background: url("../img/icons.png") no-repeat -637px -615px;
  }
  #about-page .about-me .weapons-section.desktop .weapons-icon.imagination:after {
    content: '';
    background: url("../img/icons.png") no-repeat -847px -615px;
  }
  #about-page .about-me .time-section {
    height: 720px;
    padding: 40px 0 30px;
    border-bottom: 3px solid #ffffff;
    position: relative;
  }
  #about-page .about-me .time-section .section-title {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
  #about-page .about-me .time-section img {
    width: 44%;
    max-width: 486px;
    position: absolute;
    left: 0;
  }
  #about-page .about-me .time-section table {
    margin-top: 94px;
    position: absolute;
    right: 0;
  }
  #about-page .about-me .time-section table td {
    vertical-align: middle;
  }
  #about-page .about-me .working {
    padding: 44px 0 120px;
  }
  #about-page .about-me .working .large-light {
    display: block;
    width: 324px;
    height: 268px;
    position: absolute;
    right: 0;
    top: 190px;
  }
  #about-page .about-me .working p {
    width: 64%;
  }
}
.about .tile-title {
  top: 18px;
  left: -25px;
}
@media (min-width: 800px) {
  .about .tile-title {
    left: -83px;
    top: 62px;
  }
}
