/****************************
colors
****************************/
/****************************
fonts
****************************/
/****************************
z-index
****************************/
#code-page {
  background-color: #1a7287;
}
#code-page header {
  background: url("../img/code_small.jpg") no-repeat center;
  background-size: cover;
}
#code-page .intro-text {
  padding-top: 40px;
}
#code-page .page-wrapper {
  background: linear-gradient(to bottom, rgba(26, 114, 135, 0) 0%, #1a7287 44%);
  background: -webkit-linear-gradient(top, rgba(26, 114, 135, 0) 0%, #1a7287 44%);
}
#code-page .page-content {
  background-color: #1a7287;
}
#code-page .image-container {
  border: 5px solid #27abcb;
  margin-right: 17px;
}
#code-page .view {
  background-color: #1ba33f;
  text-decoration: none;
  left: 295px;
}
#code-page .view:hover {
  background-color: #27abcb;
}
#code-page .git {
  left: 520px;
}
@media (min-width: 1282px) {
  #code-page header {
    background: url("../img/code_large.jpg") no-repeat center;
    background-size: cover;
  }
  #code-page .image-container {
    border: 10px solid #27abcb;
    margin-right: 50px;
  }
}
.code .tile-title {
  top: 13px;
  left: -21px;
}
@media (min-width: 1282px) {
  .code .tile-title {
    left: -66px;
    top: 44px;
  }
}
