/****************************
colors
****************************/
/****************************
fonts
****************************/
/****************************
z-index
****************************/
#contact-page {
  background-color: #db3a24;
}
#contact-page header {
  background: url("../img/contact_small.jpg") no-repeat center;
  background-size: cover;
}
@media (min-width: 1282px) {
  #contact-page header {
    background: url("../img/contact_large.jpg") no-repeat center;
    background-size: cover;
  }
}
#contact-page .page-wrapper {
  background: linear-gradient(to bottom, rgba(219, 58, 36, 0) 0%, #db3a24 44%);
  background: -webkit-linear-gradient(top, rgba(219, 58, 36, 0) 0%, #db3a24 44%);
}
#contact-page .page-content {
  background-color: #db3a24;
}
#contact-page .contact-section {
  height: 800px;
  text-align: center;
}
#contact-page .contact-section h1 {
  color: #ffffff;
}
.contact .tile-title {
  top: 29px;
  left: -35px;
}
@media (min-width: 1282px) {
  .contact .tile-title {
    left: -123px;
    top: 99px;
  }
}
