/****************************
colors
****************************/
/****************************
fonts
****************************/
/****************************
z-index
****************************/
#design-page {
  background-color: #1ba33f;
}
#design-page header {
  background: url("../img/design_small.jpg") no-repeat center;
  background-size: cover;
}
#design-page .page-wrapper {
  background: linear-gradient(to bottom, rgba(27, 163, 63, 0) 0%, #1ba33f 44%);
  background: -webkit-linear-gradient(top, rgba(27, 163, 63, 0) 0%, #1ba33f 44%);
}
#design-page .page-content {
  background-color: #1ba33f;
  padding: 0 16px;
}
#design-page .process-list {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 31px;
  padding: 20px;
}
#design-page .large-slides img {
  display: block;
  margin: 0 auto;
}
#design-page .example-wrapper.desktop {
  display: none;
}
#design-page .example-wrapper.mobile {
  display: block;
  width: 350px;
}
@media (min-width: 800px) {
  #design-page .page-content {
    background-color: #1ba33f;
    padding: 0 21%;
  }
  #design-page .example-wrapper.mobile {
    display: none;
  }
  #design-page .example-wrapper.desktop {
    display: block;
  }
  #design-page header {
    background: url("../img/design_large.jpg") no-repeat center;
    background-size: cover;
  }
  #design-page .slideshow {
    width: 1000px;
  }
  #design-page .slideshow .link {
    color: #1ba33f;
    font-weight: bold;
  }
  #design-page .slideshow .link:hover {
    color: #ffffff;
  }
  #design-page .process-list,
  #design-page .process-text {
    font-size: 18px;
    line-height: 26px;
    padding: 20px;
    width: 520px;
  }
  #design-page .process-list {
    padding-left: 38px;
  }
  #design-page .process-content {
    display: inline-block;
    position: absolute;
    right: 0;
  }
  #design-page .process-image {
    display: inline-block;
    width: 480px;
    margin-right: 20px;
    position: absolute;
    left: 0;
  }
}
.design .tile-title {
  top: 21px;
  left: -26px;
}
@media (min-width: 800px) {
  .design .tile-title {
    left: -86px;
    top: 74px;
  }
}
