/****************************
colors
****************************/
/****************************
fonts
****************************/
/****************************
z-index
****************************/
#design-page {
  background-color: #1ba33f;
}
#design-page header {
  background: url("../img/design_small.jpg") no-repeat center;
  background-size: cover;
}
@media (min-width: 800px) {
  #design-page header {
    background: url("../img/design_large.jpg") no-repeat center;
    background-size: cover;
  }
}
#design-page .page-wrapper {
  background: linear-gradient(to bottom, rgba(27, 163, 63, 0) 0%, #1ba33f 44%);
  background: -webkit-linear-gradient(top, rgba(27, 163, 63, 0) 0%, #1ba33f 44%);
}
#design-page .page-content {
  background-color: #1ba33f;
}
.design .tile-title {
  top: 21px;
  left: -26px;
}
@media (min-width: 800px) {
  .design .tile-title {
    left: -86px;
    top: 74px;
  }
}
