/****************************
colors
****************************/
/****************************
fonts
****************************/
/****************************
z-index
****************************/
.home-tile {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #ffffff;
  cursor: pointer;
}
.tile-expand {
  width: 100%;
  height: 100%;
  position: absolute;
  top: inherit;
  bottom: inherit;
  left: inherit;
  right: inherit;
  background-color: #ffffff;
  border: 1px solid #c0c0c0;
}
.tile-background {
  height: 100%;
  position: absolute;
  left: 0;
}
.icon {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 40px;
  position: relative;
}
.icon-container {
  width: 92px;
  height: 92px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  border: solid 4px #c0c0c0;
  border-radius: 50px;
}
.about {
  top: 0;
  left: 0;
}
.about .icon {
  background: url("../img/icons.png") -189px 1px no-repeat;
  background-size: 751px;
}
.about .icon-on {
  background: url("../img/icons.png") -189px -78px no-repeat;
  background-size: 751px;
}
.about .tile-expand {
  background: url("../img/about_large.jpg") no-repeat;
  background-size: cover;
}
.about .tile-background {
  background-color: #db7f24;
}
.code {
  bottom: 0;
  left: 0;
}
.code .icon {
  background: url("../img/icons.png") -275px 1px no-repeat;
  background-size: 751px;
}
.code .icon-on {
  height: 100px;
  background: url("../img/icons.png") -275px -81px no-repeat;
  background-size: 751px;
}
.code .tile-expand {
  background: url("../img/code_large.jpg") no-repeat;
  background-size: cover;
}
.code .tile-background {
  background-color: #1a7287;
}
.design {
  top: 0;
  right: 0;
}
.design .icon {
  background: url("../img/icons.png") 2px 4px no-repeat;
  background-size: 686px;
}
.design .icon-on {
  height: 100px;
  background: url("../img/icons.png") 2px -68px no-repeat;
  background-size: 686px;
}
.design .tile-expand {
  background: url("../img/design_large.jpg") no-repeat;
  background-size: cover;
}
.design .tile-background {
  background-color: #1ba33f;
}
.contact {
  bottom: 0;
  right: 0;
}
.contact .icon {
  background: url("../img/icons.png") -86px 5px no-repeat;
  background-size: 686px;
}
.contact .icon-on {
  height: 100px;
  background: url("../img/icons.png") -87px -67px no-repeat;
  background-size: 686px;
}
.contact .tile-expand {
  background: url("../img/contact_large.jpg") no-repeat;
  background-size: cover;
}
.contact .tile-background {
  background-color: #db3a24;
}
/*@media (min-width: 1282px) {

    .icon {
        width: 92px;
        height: 92px;

        border-radius: 46px;
    }

    .icon:after {
        width: 63px;
        height: 63px;
        top: 10px;
        left: 10px;
    }
    .about {
        top: 0;
        left: 0;

        .icon {
            background: url("../img/icons.png") -189px 1px no-repeat;
            background-size: 751px;
        }

        .icon-on {
            background: url("../img/icons.png") -189px -93px no-repeat;
            background-size: 751px;
        }
    }

    .code {
        bottom: 0;
        left: 0;

        .icon {
            background: url("../img/icons.png") -275px 1px no-repeat;
            background-size: 751px;
        }

        .icon-on {
            background: url("../img/icons.png") -275px -93px no-repeat;
            background-size: 751px;
        }
    }

    .design {
        top: 0;
        right: 0;

        .icon {
            background: url("../img/icons.png") 2px 4px no-repeat;
            background-size: 686px;
        }
        .icon-on {
            background: url("../img/icons.png") 2px -83px no-repeat;
            background-size: 686px;
        }
    }

    .contact {
        bottom: 0;
        right: 0;

        .icon {
            background: url("../img/icons.png") -86px 5px no-repeat;
            background-size: 686px;
        }
        .icon-on {
            background: url("../img/icons.png") -87px -80px no-repeat;
            background-size: 686px;
        }
    }
}*/
