@import url('variables.less');

#design-page {
    background-color: @green;

    header {
        background: url("../img/design_small.jpg") no-repeat center;
        background-size: cover;
    }

    .page-wrapper {
        background: linear-gradient(to bottom, rgba(27,163,63,0) 0%,rgba(27,163,63,1) 44%);
        background: -webkit-linear-gradient(top, rgba(27,163,63,0) 0%,rgba(27,163,63,1) 44%);
    }

    .page-content {
        background-color: @green;

        .fixed-width {
            background: linear-gradient(to bottom, rgba(27,163,63,0) 0%,rgba(27,163,63,1) 44%);
            background: -webkit-linear-gradient(top, rgba(27,163,63,0) 0%,rgba(27,163,63,1) 44%);
        }
    }

    .process-list {
        color: @white;
        font-family: @raleway;
        font-size: 22px;
        line-height: 31px;
        padding: 20px;
    }

    .process-text a {
        color: @green;
        font-weight: bold;
    }

    .large-slides img {
        display: block;
        margin: 0 auto;
    }

    .example-wrapper.desktop {
        display: none;
    }

    .example-wrapper.mobile {
        display: block;
        padding-bottom: 200px;

        .process-content {
            position: absolute;
            top: 0;
            background: #000;
            bottom: 0;
            opacity: 0.8;
            padding: 4%;

            p, li {
                font-size: 17px;
                line-height: 24px;
            }
        }

        .toggleInstruction {
            position: absolute;
            color: #fff;
            font-family: @raleway;
            font-weight: bold;
            bottom: 59px;
            left: 11px;
        }

        .large-slides li img {
            width: 100%;
        }
    }

    .mobile {

        .slide {

            img {
                width: 100%;
            }
        }
    }
    /* percentage widths were breaking the slide show. Fix and refactor this garbage */

    @media (max-width: 389px){
        .myshow {
            width: 300px;
        }
    }

    @media (min-width: 390px) and (max-width: 460px){
        .myshow {
            width: 330px;
        }
    }
    @media (min-width: 461px) and (max-width: 579px){
        .myshow {
            width: 420px;
        }
    }

    @media (min-width: 580px) and (max-width: 700px){
        .myshow {
            width: 500px;
        }
    }

    @media (min-width: 1282px) {
        .page-content {
            background-color: @green;

        }

        .example-wrapper.mobile {
            display: none;
        }

        .example-wrapper.desktop {
            display: block;
        }

        header {
            background: url("../img/design_large.jpg") no-repeat center;
            background-size: cover;
        }

        .slideshow {
            width: 1000px;

            .link {
                color: @green;
                font-weight: bold;
            }
            .link:hover {
                color: @white;
            }
        }
        .process-list, .process-text {
            font-size: 18px;
            line-height: 26px;
            padding: 20px;
            width: 520px;
        }
        .process-list {
            padding-left: 38px;
        }
        .process-content {
            display: inline-block;
            position: absolute;
            right: 0;
        }
        .process-image {
            display: inline-block;
            width: 480px;
            margin-right: 20px;
            position: absolute;
            left: 0;
        }
    }
}

.design {

    .tile-title {
        top: 21px;
        left: -26px;
    }

    @media (min-width: 1282px) {

        .tile-title {
            left: -86px;
            top: 74px;
        }
    }
}