@import url('variables.less');

#design-page {
    background-color: @green;

    header {
        background: url("../img/design_small.jpg") no-repeat center;
        background-size: cover;
    }

    .page-wrapper {
        background: linear-gradient(to bottom, rgba(27,163,63,0) 0%,rgba(27,163,63,1) 44%);
        background: -webkit-linear-gradient(top, rgba(27,163,63,0) 0%,rgba(27,163,63,1) 44%);
    }

    .page-content {
        background-color: @green;

        .fixed-width {
            background: linear-gradient(to bottom, rgba(27,163,63,0) 0%,rgba(27,163,63,1) 44%);
            background: -webkit-linear-gradient(top, rgba(27,163,63,0) 0%,rgba(27,163,63,1) 44%);
        }
    }

    .process-list {
        color: @white;
        font-family: @raleway;
        font-size: 22px;
        line-height: 31px;
        padding: 20px;
    }

    .process-text a {
        color: @green;
        font-weight: bold;
    }

    .large-slides img {
        display: block;
        margin: 0 auto;
    }

    .example-wrapper.desktop {
        display: none;
    }

    .example-wrapper.mobile {
        display: block;
        padding-bottom: 200px;

        .example {
            float: left;
        }

        .process-content {
            top: 0;
            background: #000;
            bottom: 0;
            opacity: 0.8;
            padding: 4%;
            height: 100%;

            p, li {
                font-size: 17px;
                line-height: 24px;
            }
        }

        .large-slides li img {
            width: 100%;
        }

        .slideshow {
            opacity: 0;
            position: fixed;
        }

        .close-slideshow {
            display: inline-block;
            position: absolute;
            top: 7px;
            right: 16px;
            padding: 7px 16px;

            background-color: @blue;
            border-radius: 24px;
            color: @white;
            cursor: pointer;
            font-family: @archivo;
            font-size: 11px;
            z-index: 300;
        }
        .close-slideshow:hover {
            background-color: @light-blue;
        }
    }

    @media (min-width: 1282px) {
        .page-content {
            background-color: @green;

        }

        .example-wrapper.mobile {
            display: none;
        }

        .example-wrapper.desktop {
            display: block;
        }

        header {
            background: url("../img/design_large.jpg") no-repeat center;
            background-size: cover;
        }

        .slideshow {
            opacity: 0;
            position: fixed;

            .link {
                color: @green;
                font-weight: bold;
            }
            .link:hover {
                color: @white;
            }

            .slide {
                width: 100%;
            }
        }
        .process-list, .process-text {
            font-size: 18px;
            line-height: 26px;
            padding: 20px;
        }
        .process-list {
            padding-left: 38px;
        }
        .process-content {
            display: inline-block;
            width: 50%;
            position: absolute;
            right: 0;
        }
        .process-image {
            display: inline-block;
            width: 50%;
            position: absolute;
            left: 0;
        }

        .close-slideshow {
            display: inline-block;
            position: absolute;
            bottom: 68px;
            right: 29px;
            padding: 12px 33px;

            background-color: @blue;
            border-radius: 24px;
            color: @white;
            cursor: pointer;
            font-family: @archivo;
            z-index: 300;
        }
        .close-slideshow:hover {
            background-color: @light-blue;
        }
    }
}

.design {

    .tile-title {
        top: 21px;
        left: -26px;
    }

    @media (min-width: 1282px) {

        .tile-title {
            left: -86px;
            top: 74px;
        }
    }
}