/****************************
colors
****************************/

@orange:            #db7f24;
@blue:              #1a7287;
@light-blue:        #27abcb;
@red:               #db3a24;
@green:             #1ba33f;
@light-green:       #57ec7e;
@white:             #ffffff;
@grey:              #c0c0c0;
@dark-grey:         #686868;
@light-grey:        #dbdbdb;
@yellow:            #daaf20;

/****************************
fonts
****************************/

@archivo:           'Archivo Black', sans-serif;
@raleway:           'Raleway', sans-serif;


/****************************
z-index
****************************/

@peak:              200;
@top:               100;
@back:              -100;