<div class="content-page" id="about-page">
    <header class="page-header">
        <h1>“Having a UX department or UX title does not mean you are practicing UX”</h1>
        <h5>- Hoa Loranger</h5>
    </header>
    <div class="page-wrapper">
        <div class="page-content">

            <div class="fixed-width">

            <section class="intro-text">
                <p>Hello!<p>
                <p>I’m a firm believer in that quote, but I’ll get to that in a bit. I do user experience design, development, and research.  I’ve been doing this for about 5+ years and the more I learn, the more I find that my curiosity is limitless.</p>
                <p>I do not take these roles lightly. I was a graphic and web designer for many years before becoming a full stack javascript developer.  Now I spend a lot of time focused on quantitative and qualitative research and user experience in general.</p>
                <p>Being a front end developer that dables in design has given me a unique perspective and allows me to speak everyone’s language as well as get own my hands dirty when conducting UX research.</p>
            </section>

            <div class="about-me">
            <table class="who-I-am desktop">
                <tr>
                    <td class="about-title archivo" colspan="2"><span class="section-title shadow">What I Am</span></td>
                    <td class="about-title archivo" colspan="2"><span class="section-title shadow">What I Am NOT</span></td>
                </tr>
                <tr>
                    <td><span class="light-bulb light-on"></span></td>
                    <td class="raleway">An advocate for the user experience.</td>
                    <td><span class="light-bulb light-off"></span></td>
                    <td class="raleway">A person that simply uses UX in their title.</td>
                </tr>
                <tr>
                    <td><span class="light-bulb light-on"></span></td>
                    <td class="raleway">Comfortable with full stack js development.</td>
                    <td><span class="light-bulb light-off"></span></td>
                    <td class="raleway">A designer who knows just enough development to get by.</td>
                </tr>
                <tr>
                    <td><span class="light-bulb light-on"></span></td>
                    <td class="raleway">Always trying to learn more than I knew the day before.</td>
                    <td><span class="light-bulb light-off"></span></td>
                    <td class="raleway">A person content at my current level.</td>
                </tr>
                <tr>
                    <td><span class="light-bulb light-on"></span></td>
                    <td class="raleway">Experienced in the entire interaction design process.</td>
                    <td><span class="light-bulb light-off"></span></td>
                    <td class="raleway">A person that just makes pretty graphics and icons.</td>
                </tr>
            </table>

            <table class="who-I-am mobile">
                <tr>
                    <td class="about-title archivo"><span class="section-title shadow">What I Am</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">An advocate for the user experience.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Comfortable with full stack js development.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Always trying to learn more than I knew the day before.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-on">Experienced in the entire interaction design process</span></td>
                </tr>

                <tr>
                    <td class="about-title archivo"><span class="section-title shadow"><br />What I Am NOT</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person that simply uses UX in their title.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A designer who knows just enough development to get by.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person content with what I know.</span></td>
                </tr>
                <tr>
                    <td class="raleway"><span class="light-bulb light-off">A person that just makes pretty graphics and icons.</span></td>
                </tr>
            </table>

            <div class="weapons-section desktop">
                <span class="section-title archivo shadow">Weapons of Choice</span>
                <table>
                    <tr>
                        <td>
                            <img src="img/html.png"/>
                        </td>
                        <td>
                            <img src="img/css.png"/>
                        </td>
                        <td>
                            <img src="img/js.png"/>
                        </td>
                        <td>
                            <img src="img/jquery.png"/>
                        </td>
                        <td>
                            <img src="img/less.png"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="weapons-name">
                            <span>HTML</span>
                        </td>
                        <td class="weapons-name">
                            <span>CSS</span>
                        </td>
                        <td class="weapons-name">
                            <span>Javascript</span>
                        </td>
                        <td class="weapons-name">
                            <span>Jquery</span>
                        </td>
                        <td class="weapons-name">
                            <span>LESS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/webstorm.png"/>
                        </td>
                        <td>
                            <img src="img/photoshop.png"/>
                        </td>
                        <td>
                            <img src="img/axure.png"/>
                        </td>
                        <td>
                            <img src="img/devtools.png"/>
                        </td>
                        <td>
                            <img src="img/imagination.png"/>
                        </td>
                    </tr>

                    <tr>
                        <td class="weapons-name">
                            <span>Webstorm</span>
                        </td>
                        <td class="weapons-name">
                            <span>Photoshop</span>
                        </td>
                        <td class="weapons-name">
                            <span>Axure</span>
                        </td>
                        <td class="weapons-name">
                            <span>Chrome Dev Tools</span>
                        </td>
                        <td class="weapons-name">
                            <span>My Imagination</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="weapons-section mobile">
                <span class="section-title archivo shadow">Weapons of Choice</span>
                <table>
                    <tr>
                        <td>
                            <span class="weapons-icon html"></span>
                        </td>
                        <td>
                            <span class="weapons-icon css"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">HTML</span>
                        </td>
                        <td>
                            <span class="weapons-name">CSS</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon javascript"></span>
                        </td>
                        <td>
                            <span class="weapons-icon jquery"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Javascript</span>
                        </td>
                        <td>
                            <span class="weapons-name">Jquery</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon less"></span>
                        </td>
                        <td>
                            <span class="weapons-icon webstorm"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">LESS</span>
                        </td>
                        <td>
                            <span class="weapons-name">Webstorm</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon photoshop"></span>
                        </td>
                        <td>
                            <span class="weapons-icon axure"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Photoshop</span>
                        </td>
                        <td>
                            <span class="weapons-name">Axure</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-icon chrome"></span>
                        </td>
                        <td>
                            <span class="weapons-icon imagination"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="weapons-name">Chrome Dev Tools</span>
                        </td>
                        <td>
                            <span class="weapons-name">My Imagination</span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="time-section">
                <span class="section-title archivo shadow">How I Divvy My Time</span>
                <img src="img/pie-chart.png" alt="Pie Chart of Activities">
                <table>
                    <tr>
                        <td><span class="chart-color blue"></span></td>
                        <td class="archivo">UX Design</td>
                    </tr>
                    <tr>
                        <td><span class="chart-color red"></span></td>
                        <td class="archivo">Front End Development</td>
                    </tr>
                    <tr>
                        <td><span class="chart-color yellow"></span></td>
                        <td class="archivo">Reading About UX</td>
                    </tr>
                    <tr>
                        <td><span class="chart-color green"></span></td>
                        <td class="archivo">Nerd Related Activities</td>
                    </tr>
                    <tr>
                        <td><span class="chart-color grey"></span></td>
                        <td class="archivo">Eating Ice Cream</td>
                    </tr>
                </table>
            </div>
            <div class="working">
                <span class="section-title archivo shadow">What I’m Working On Now</span>
                <p class="raleway">I’m currently in the HCI Master's program at IUPUI. It's quite a handful, but there is a great deal of good information to absorb.</p>

                <p class="raleway">While I have previously spent much of my energy on the technical and design aspects of web development,
                    I've grown to be equally interested in the psychology of them. I'm more focused on how people use applications and why; What
                    motivates people to use an app or to choose a similar one over another. THIS is where the fun is at for me righ tnow.
                    This is what has pulled me into user experience research. </p>
                <span class="large-light"></span>
            </div>
            </div>
            </div>

        </div>
    </div>
</div>