<div class="content-page" id="about-page">
    <header class="page-header">
        <h1>“Having a UX department or UX title does not mean you are practicing UX”</h1>
        <h5>- Hoa Loranger</h5>
    </header>
    <div class="page-wrapper">
        <div class="page-content">
            <p>Hello!<p>
            <p>I’m a firm believer in that quote, but I’ll get to that in a bit. I do user experience design, development, and research.  I’ve been doing this for about 8 years and the more I learn, the more I find that my curiosity is limitless.</p>
            <p>I do not take these roles lightly. I was graphic and web designer for many years before becoming a full stack javascript developer.  Now I am focused on quantitative and qualitative research and user experience in general.</p>
            <p>Being a designer and front end dev has given me a unique perspective and allows me to speak everyone’s language as well as get own my hands dirty when conducting UX research.</p>

            <div class="about-me">
                <table class="who-I-am">
                    <tr>
                        <td class="about-title archivo"><span class="section-title shadow">What I Am</span></td>
                        <td class="about-title archivo"><span class="section-title shadow">What I Am NOT</span></td>
                    </tr>
                    <tr>
                        <td class="raleway"><span class="light-bulb light-on"></span>An advocate for the user experience.</td>
                        <td class="raleway"><span class="light-bulb light-off"></span>A person that simply uses UX in their title.</td>
                    </tr>
                    <tr>
                        <td class="raleway"><span class="light-bulb light-on"></span>Comfortable with development AND design.</td>
                        <td class="raleway"><span class="light-bulb light-off"></span>A designer who knows just enough development to get by.</td>
                    </tr>
                    <tr>
                        <td class="raleway"><span class="light-bulb light-on"></span>Always trying to learn more than I knew the day before.</td>
                        <td class="raleway"><span class="light-bulb light-off"></span>A person content with what I know.</td>
                    </tr>
                    <tr>
                        <td class="raleway"><span class="light-bulb light-on"></span>Experienced in the entire interaction design process</td>
                        <td class="raleway"><span class="light-bulb light-off"></span>A person that just makes pretty graphics and icons</td>
                    </tr>
                </table>

                <div class="weapons-section">
                    <span class="section-title archivo shadow">Weapons of Choice</span>
                    <table>
                        <tr>
                            <td>
                                <span class="weapons-icon html"></span>
                            </td>
                            <td>
                                <span class="weapons-icon css"></span>
                            </td>
                            <td>
                                <span class="weapons-icon javascript"></span>
                            </td>
                            <td>
                                <span class="weapons-icon jquery"></span>
                            </td>
                            <td>
                                <span class="weapons-icon less"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="weapons-name">HTML</span>
                            </td>
                            <td>
                                <span class="weapons-name">CSS</span>
                            </td>
                            <td>
                                <span class="weapons-name">Javascript</span>
                            </td>
                            <td>
                                <span class="weapons-name">Jquery</span>
                            </td>
                            <td>
                                <span class="weapons-name">LESS</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="weapons-icon webstorm"></span>
                            </td>
                            <td>
                                <span class="weapons-icon photoshop"></span>
                            </td>
                            <td>
                                <span class="weapons-icon axure"></span>
                            </td>
                            <td>
                                <span class="weapons-icon chrome"></span>
                            </td>
                            <td>
                                <span class="weapons-icon imagination"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="weapons-name">Webstorm</span>
                            </td>
                            <td>
                                <span class="weapons-name">Photoshop</span>
                            </td>
                            <td>
                                <span class="weapons-name">Axure</span>
                            </td>
                            <td>
                                <span class="weapons-name">Chrome Dev Tools</span>
                            </td>
                            <td>
                                <span class="weapons-name">My Imagination</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="time-section">
                    <span class="section-title archivo shadow">How I Divvy My Time</span>
                    <img src="img/pie-chart.png">
                    <table>
                        <tr>
                            <td><span class="chart-color blue"></span></td>
                            <td class="archivo">UX Design</td>
                        </tr>
                        <tr>
                            <td><span class="chart-color red"></span></td>
                            <td class="archivo">Front End Development</td>
                        </tr>
                        <tr>
                            <td><span class="chart-color yellow"></span></td>
                            <td class="archivo">Reading About UX</td>
                        </tr>
                        <tr>
                            <td><span class="chart-color green"></span></td>
                            <td class="archivo">Nerd Related Activities</td>
                        </tr>
                        <tr>
                            <td><span class="chart-color grey"></span></td>
                            <td class="archivo">Eating Ice Cream</td>
                        </tr>
                    </table>
                </div>
                <div class="working">
                    <span class="section-title archivo shadow">What I’m Working On Now</span>
                    <p class="raleway">I’m currently in the HCI Master's program at IUPUI. It's quite a handful, but there is a great deal of good information to absorb.</p>

                    <p class="raleway">While I have previously spent much of my energy on the technical and design aspects of web development, lately,
                        I've been more interested in the psychology of them. I'm more focused on how people use applications and why; What
                        motivates people to use an app or to choose a similar one over another. THIS is where the fun is at for me righ tnow.
                        This is what has pulled me into user experience research. </p>
                    <span class="large-light"></span>
                </div>
            </div>
        </div>
    </div>
</div>