<div class="home-tile about">
    <div class="tile-expand">
        <span class="tile-title archivo">About</span>
        <div class="icon-container">
            <span class="icon"></span>
            <span class="icon icon-on"></span>
        </div>
    </div>
</div>