<div class="content-page" id="code-page">
    <header class="page-header">
        <h1>"If debugging is the process of removing software bugs, then programming must be the process of putting them in."</h1>
        <h5>- Edsger Wybe Dijkstra</h5>
    </header>
    <div class="page-wrapper">
        <div class="page-content">
            <p>While I do spend a lot of time on the visual/interactive side of UX, I still like to get my hands dirty with code. This part of my skillset came about simply because I wanted to build what I was designing. I’d have to say I enjoy writing code as much as I love designing a good user experience. There’s something extremely satisfying in both.</p>

            <p>Below are some examples of sites or applications that I have written code for. There are links to Github repos where applicable.</p>

            <div class="example-wrapper design">
                <div class="example">
                    <img src="img/foxworthy.jpg" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">Amy Foxworthy</h2>
                        <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers portolio’s, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                        <a href="http://amyfoxworthy.com" class="view live archivo code-view" target="_blank">View Live Page</a>
                        <a href="https://github.com/MyLightIsOn/amy_writer" class="view git archivo code-view" target="_blank">View GitHub</a>
                    </div>
                </div>

                <div class="example">
                    <img src="img/foxworthy.jpg" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">Amy Foxworthy</h2>
                        <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers portolio’s, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                        <a class="view archivo">View Live Page</a>
                    </div>
                </div>


                <div class="example">
                    <img src="img/foxworthy.jpg" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">Amy Foxworthy</h2>
                        <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers portolio’s, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                        <a class="view archivo">View Live Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>