<div class="content-page" id="code-page">
    <header class="page-header">
        <h1>"If debugging is the process of removing software bugs, then programming must be the process of putting them in."</h1>
        <h5>- Edsger Wybe Dijkstra</h5>
    </header>
    <div class="page-wrapper">
        <div class="page-content">

            <div class="fixed-width">

                <section class="intro-text">
                    <p>While I do spend a lot of time on the visual/interactive side of UX, I still like to get my hands dirty with code. This part of my skillset came about simply because I wanted to build what I was designing. I’d have to say I enjoy writing code as much as I love designing a good user experience. There’s something extremely satisfying in both.</p>

                    <p>Below are some examples of sites or applications that I have written code for. There are links to Github repos where applicable.</p>
                </section>


                <div class="example-wrapper design">
                    <div class="example">
                        <div class="image-container">
                            <img src="img/lawrence/lawrence.jpg" alt="Snippet of image of The Lawrence Moore.com site" class="example-image">
                        </div>
                        <div class="text">
                            <h2 class="example-title archivo">The Lawrence Moore</h2>
                            <p>This site was conceptualized, designed, and developed in about a week. It wasn't easy, but it was necessary. It's in the process of being refactored and checked for performance issues now.</p>
                            <div class="button-container">
                                <a href="http://thelawrencemooe.com" class="view live archivo code-view" target="_blank">View Live Site</a>
                                <a href="https://github.com/MyLightIsOn/thelawrencemoore" class="view git archivo code-view" target="_blank">View GitHub</a>
                            </div>
                        </div>
                    </div>

                    <div class="example">
                        <div class="image-container">
                            <img src="img/code/revolt.jpg" alt="Snippet of image of Revolt.tv site" class="example-image">
                        </div>
                        <div class="text">
                            <h2 class="example-title archivo">Revolt TV</h2>
                            <p>I was one of front end devs on Revolt.tv, Sean Combs' latest opus. It pulls JSON data from a custom CMS to populate the newsfeed. I'd say it's one of the biggest sites I've had a chance to work on.</p>
                            <div class="button-container">
                                <a href="http://revolt.tv/" class="view live archivo code-view" target="_blank">View Live Site</a>
                            </div>
                        </div>
                    </div>


                    <div class="example">
                        <div class="image-container">
                            <img src="img/foxworthy/main.jpg" alt="Snippet of image of Amy Foxworthy.com site" class="example-image">
                       </div>
                        <div class="text">
                            <h2 class="example-title archivo">Amy Foxworthy</h2>
                            <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers' portolios, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                            <div class="button-container">
                                <a href="http://amyfoxworthy.com" class="view live archivo code-view" target="_blank">View Live Site</a>
                                <a href="https://github.com/MyLightIsOn/amy_writer" class="view git archivo code-view" target="_blank">View GitHub</a>
                            </div>
                        </div>
                    </div>

                    <div class="example">
                        <div class="image-container">
                            <img src="img/code/icc.jpg" alt="Snippet of image of Indiana Chamber of Commerce site" class="example-image">
                        </div>
                        <div class="text">
                            <h2 class="example-title archivo">Indiana Chamber of Commerce</h2>
                            <p>For this site, I was the sole front end developer working with two other back end devs. This is a .NET site and required me to be able to navigate through that framework comfortably.</p>
                            <div class="button-container">
                                <a href="http://www.indychamber.com/" class="view live archivo code-view" target="_blank">View Live Site</a>
                            </div>
                        </div>
                    </div>

                    <div class="example">
                        <div class="image-container">
                            <img src="img/code/cliff.jpg" alt="Snippet of image of Cliff Notes site" class="example-image">
                        </div>
                        <div class="text">
                            <h2 class="example-title archivo">Cliff Notes Skills Test</h2>
                            <p>The Cliff Notes Skills Test was a test I took for a job interview. I had to turn a PDF into a webpage based on the style of their site. The PDF I used is located <a href="http://media.wiley.com/assets/1914/66/ACT_Sample_English_Test_Reading_Passage_1.pdf" class="link" target="_blank">HERE</a>. This was the only asset I was given. They provided absolutely no images, styles, fonts, etc. They have since redesigned their site so it doesn't match up anymore. It was cool at the time though! </p>
                            <div class="button-container">
                                <a href="http://thelawrencemoore.com/cliff/index.html" class="view live archivo code-view" target="_blank">View Live Site</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>