<div class="content-page" id="contact-page">
    <header class="page-header">
        <h1>“The single biggest problem in communication is the illusion that it has taken place.”</h1>
        <h5>- George Benard Shaw</h5>
    </header>
    <div class="page-wrapper">
        <div class="page-content">

            <div class="fixed-width">
                <div class="contact-section">
                    <div class="intro-text">
                        <span class="section-title archivo shadow">Contact Me</span><br /><br />
                        <p>Right now, the best way to reach me is at:</p>
                        <div class="mobile">
                            <h1 class="archivo shadow">TheLawrenceMoore</h1>
                            <h1 class="archivo shadow">@</h1>
                            <h1 class="archivo shadow">Gmail.com</h1>
                        </div>
                        <div class="desktop">
                            <h1 class="archivo shadow">TheLawrenceMoore@Gmail.com</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>