<div class="content-page" id="contact-page">
    <header class="page-header">
        <div class="gradient">
            <h1>“The single biggest problem in communication is the illusion that it has taken place.”</h1>
            <h5>- George Benard Shaw</h5>
        </div>
    </header>
    <div class="page-wrapper">
        <div class="page-content">

            <div class="fixed-width">
                <div class="contact-section">
                    <div class="intro-text">
                        <span class="section-title archivo shadow">Contact Me</span><br /><br />
                        <p>Due mail server problems with my webhost, it's best to just send me an email:</p>
                        <h1 class="archivo shadow">TheLawrenceMoore@Gmail.com</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>