<div class="content-page" id="design-page">
    <header class="page-header">
        <h1>“What separates design from art is that design is meant to be... functional.”</h1>
        <h5>- Cameron Moll</h5>
    </header>
    <div class="page-wrapper">
        <div class="page-content">
            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>
            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>
            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>
        </div>
    </div>
</div>