<div class="content-page" id="design-page">
    <header class="page-header">
        <h1>“What separates design from art is that design is meant to be... functional.”</h1>
        <h5>- Cameron Moll</h5>
    </header>
    <div class="page-wrapper">
        <div class="page-content">
            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <div class="example-wrapper design">
                <div class="example">
                    <img src="img/lawrence/lawrence.jpg" alt="The Lawrence Moore lightblub logo" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">TheLawrenceMoore.com</h2>
                        <p>i.	Since I wanted to put up great examples of my design process, I figured why not start with explaining how I came up with this site? I redo my personal portfolio every year or so and this would be the 5th iteration. </p>
                        <span class="process-view view archivo">View Process</span>
                    </div>

                    <div class="slideshow swipeshow">
                        <ul class="slides">
                            <li class="slide">
                                <img src="img/foxworthy/001.jpg" alt="" class="process-image"/>
                                <div class="process-content">
                                    <p class="process-text">A job posting I saw was the motivation for me redesigning my site. As I said above, I typically do it every year or so and I was due for a change anyway. However, seeing this job posting for a position I really want meant that I needed to finish it sooner rather than later. Between balancing work, graduate studies, sleep, I had to find make time to design and code this project quickly.</p>
                                </div>
                            </li>
                            <li class="slide">
                                <img src="img/foxworthy/002.jpg" alt="" class="process-image"/>
                                <div class="process-content">
                                    <p class="process-text">To start my portfolio projects, I like to create a set a design goals and post them somewhere where I can see them readily and often as I’m working. For an interaction design job, there were a couple business goals right off the bat that I know I needed to focus on.</p>
                                    <ul class="process-list">
                                        <li>My website must have interesting interaction elements.</li>
                                        <li>I have the dual skillsets of being able to design and write code. I have to show these equally.</li>
                                        <li>It must also work on mobile or tablet devices because I won’t know where the people I want to see my site will be when they view it.</li>
                                        <li>It has to have color (My last site was cool, but monochromatic).</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="slide">
                                <img src="img/foxworthy/002.jpg" alt="" class="process-image"/>
                                <div class="process-content">
                                    <p class="process-text">After creating my initial goals, I then did some research into a few relevant topics. This would be where I would create use cases for a design. I read several Tech HR articles to see what types of things they look for in designer and developer portfolios.  I also browsed a handful of interaction designer websites to see what others have done. After doing so I added these requirements to my list.</p>
                                    <ul class="process-list">
                                        <li>Must show design process for several projects.</li>
                                        <li>Developed sites need links to live site as well as Github if applicable.</li>
                                        <li>Competition is stiff so focus on visual impressions as well as the informative aspects.</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="slide">
                                <img src="img/foxworthy/002.jpg" alt="" class="process-image"/>
                                <div class="process-content">
                                    <p class="process-text">Once I had my design goals set up, it was time to get to work. With the clock ticking, I got out my paper and pencils are started sketching out some interaction concepts.  I needed a good core interaction method that would be visually impressive, but not ridiculously superfluous.</p>
                                    <p class="process-text">I settled on this layout because not only does it have creative interactive functionality, but it also would translate easy between desktop, tablet, and phone. It made room for showcasing both of my skillsets as well.</p>
                                </div>
                            </li>
                            <li class="slide">
                                <img src="img/foxworthy/002.jpg" alt="" class="process-image"/>
                                <div class="process-content">
                                    <p class="process-text">For my design page, I wanted to make room to show all of my projects and the thought process behind as mentioned in my goals. I also did not want to use a lightbox since they can be problematic. I opted to go with a hidden carousel since it would allow me to show and explain my process and also wouldn’t lock the user into one area. They would be free to close it or leave it open and continue browsing at their leisure. And of course, autoplay would NOT be used on the carousel.</p>
                                </div>
                            </li>
                            <li class="slide">
                                <img src="img/foxworthy/002.jpg" alt="" class="process-image"/>
                                <div class="process-content">
                                    <p class="process-text">Since time was not on my side, I immediately jumped into putting together a prototype. I try to make functional prototypes whenever I can because I believe that letting users test designs in their intended form factor is important.  </p>
                                    <p class="process-text">After user testing my initial prototypes, I got enough support and feedback to jump into Photoshop and start designing.  Keeping with my goals of adding color without making it garish, I created comps I was satisfied with. Now time to code… (Code for this can be seen here or in the code section of this site.)</p>
                                </div>
                            </li>
                        </ul>
                        <button class='previous'></button>
                        <button class='next'></button>
                        <div class='dots'></div>
                    </div>
                </div>

                <div class="example">
                    <img src="img/foxworthy.jpg" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">Amy Foxworthy</h2>
                        <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers portolio’s, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                        <span class="process-view view archivo">View Process</span>
                    </div>
                </div>


                <div class="example">
                    <img src="img/foxworthy.jpg" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">Amy Foxworthy</h2>
                        <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers portolio’s, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                        <span class="process-view view archivo">View Process</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>