<div class="content-page" id="design-page">
    <header class="page-header">
        <h1>“What separates design from art is that design is meant to be... functional.”</h1>
        <h5>- Cameron Moll</h5>
    </header>
    <div class="page-wrapper">
        <div class="page-content">
            <p>My first steps into the world of web development began in design. It started with my hobby of drawing, to evolving into graphic and print design, then to web and user interface design.</p>
            <p>Over the years, I have developed the habit of putting more work into conceptualizing the designs before I actually start on high fidelity stuff.</p>
            <p>Here’s some of my design work. I have included the entire process where I could.</p>

            <div class="example-wrapper design">
                <div class="example">
                    <img src="img/foxworthy.jpg" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">Amy Foxworthy</h2>
                        <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers portolio’s, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                        <span class="view archivo">View Process</span>
                    </div>

                    <div class="slideshow swipeshow">
                        <ul class="slides">
                            <li class="slide">
                                <img src="img/foxworthy/001.jpg" alt="" class="process-image"/>
                                <p class="process-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar ut massa sed imperdiet. Morbi lobortis ligula ut leo elementum tristique. Aenean lobortis placerat elit et aliquet. Sed in eleifend nunc. Nullam pulvinar erat elementum nisi luctus faucibus. Fusce id elit accumsan, eleifend mi quis, venenatis purus. Aenean lectus urna, ornare eu tellus nec, consequat commodo neque. Sed egestas, purus et ornare auctor, tortor elit dapibus eros, vitae mattis mauris orci tincidunt odio. Curabitur pellentesque lacus eu sem viverra tempus. Etiam consequat vehicula posuere. Sed mollis laoreet arcu ac mattis. Phasellus a ex est. </p>
                            </li>
                            <li class="slide">
                                <img src="img/foxworthy/002.jpg" alt="" class="process-image"/>
                                <p class="process-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar ut massa sed imperdiet. Morbi lobortis ligula ut leo elementum tristique. Aenean lobortis placerat elit et aliquet. Sed in eleifend nunc. Nullam pulvinar erat elementum nisi luctus faucibus. Fusce id elit accumsan, eleifend mi quis, venenatis purus. Aenean lectus urna, ornare eu tellus nec, consequat commodo neque. Sed egestas, purus et ornare auctor, tortor elit dapibus eros, vitae mattis mauris orci tincidunt odio. Curabitur pellentesque lacus eu sem viverra tempus. Etiam consequat vehicula posuere. Sed mollis laoreet arcu ac mattis. Phasellus a ex est. </p>
                            </li>
                        </ul>
                        <button class='previous'></button>
                        <button class='next'></button>
                        <div class='dots'></div>
                    </div>
                </div>

                <div class="example">
                    <img src="img/foxworthy.jpg" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">Amy Foxworthy</h2>
                        <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers portolio’s, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                        <span class="view archivo">View Process</span>
                    </div>
                </div>


                <div class="example">
                    <img src="img/foxworthy.jpg" class="example-image">
                    <div class="text">
                        <h2 class="example-title archivo">Amy Foxworthy</h2>
                        <p>I created this writer’s protfolio website and logo with the sole purpose of giving them an edge on other writers. After looking through many writers portolio’s, it turns out that giving Amy an edge wouldn’t be all that difficult. </p>
                        <span class="view archivo">View Process</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>